body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
background-color: #cccccc;
}

header {
    background-color: #008B8B;
    color: #cccccc;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;

}

nav ul li a {
    color:#cccccc ;
    text-decoration: none;
font-family: monaco, monospace;
transition: transform 0.5s ease;
text-transform:uppercase;
}

section {
    padding: 20px;
}

form {
    max-width: 300px;
    margin: auto;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

form button {
    padding: 10px;
    background-color: #008B8B;
    color: #fff;
    border: none;
    cursor: pointer;
transition-duration:0.4s;
}

form button:hover {
    background-color: #555;
}

nav ul li a:hover{
border: 1px #cccccc;
color:#cccccc;
}
h2{
color:#008B8B ;
}
.button {
    background-color:#008B8B ;
    transition: transform 0.5s ease;
margin:5px 25px;
border:none;
font-size:20px;
}

.button:hover {
    transform: translateY(-5px);
background-color: #008B8B;
}
.btn-hover.color-5 {
    background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.buttons {
    margin: 10%;
    text-align: center;
}

.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover{
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}